<link rel="stylesheet" href="__ASSETS__/vendor/toastr/toastr.css">
<script src="__ASSETS__/vendor/breakpoints/breakpoints.min.js"></script>
<script>
    "use strict";
    Breakpoints();
</script>
{include file="manage/include/nav"}
{include file="manage/include/sidebar"}
{include file="manage/include/contabs"}
<main class="site-page">
    <div class="page-container" id="admui-pageContent">
        <iframe src="" frameborder="0" name="iframe-0" class="page-frame animation-fade active"></iframe>
    </div>
    <div class="page-loading vertical-align text-center">
        <div class="page-loader loader-default loader vertical-align-middle" data-type="default"></div>
    </div>
</main>

<script src="__ASSETS__/vendor/jquery/jquery-ashoverscroll.min.js"></script>
<script src="__ASSETS__/vendor/jquery/jquery.slimscroll.min.js"></script>
<!--<script src="js/screenfull.min_1.js"></script>-->
<!--<script src="js/nprogress.min_1.js"></script>-->
<script src="__ASSETS__/vendor/toastr/toastr.min.js"></script>
<script src="__ASSETS__/js/icesui/responsive-tabs.js"></script>

<script src="__ASSETS__/js/icesui/menu.js"></script>
<script src="__ASSETS__/js/icesui/media-menu.js"></script>
<script src="__ASSETS__/js/icesui/content-tabs.js"></script>
<script src="__ASSETS__/js/icesui/site.js"></script>
